@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800&display=swap');

:root {
    --color-red-error: 0, 88%, 59%;
    --color-red-pushpin-300: 12, 88%, 59%;
    --color-red-pushpin-200: 9, 100%, 78%;
    --color-red-pushpin-100: 13, 100%, 96%;
    --color-neutral-500: 233, 12%, 13%;
    --color-neutral-400: 228, 39%, 23%;
    --color-neutral-300: 227, 12%, 61%;
    --color-neutral-200: 0, 0%, 98%;
    --color-neutral-100: 0, 0%, 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: hsl(var(--color-neutral-400));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.button {
    display: inline-block;
    width: 8.625rem;
    padding: 0.75rem;
    font-size: calc(0.875rem - 1px);
    font-weight: bold;
    text-align: center;
    line-height: 1.54;
    border-radius: 99rem;
    transition: 300ms ease-in-out;
}

.button--primary {
    color: hsl(var(--color-neutral-100));
    background-color: hsl(var(--color-red-pushpin-300));
}

.button--primary:hover {
    background-color: hsl(var(--color-red-pushpin-200));
}

.button--secondary {
    color: hsl(var(--color-red-pushpin-300));
    background-color: hsl(var(--color-neutral-100));
}

.button--secondary:hover {
    color: hsl(var(--color-red-pushpin-200));
}

.container {
    max-width: 69.375rem;
    margin-inline: auto;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    padding: 2.5rem 1.5rem
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
}

.header__logo img {
    width: 6.875rem;
    height: 1.125rem;
    vertical-align: middle;
}

.header__hamburger {
    position: relative;
    z-index: 40;
    display: block;
}

.header__menu-item--nav {
    display: none;
}

.header__menu-item--nav .header-menu-link {
    font-weight: 500;
    font-size: calc(0.875rem - 1px);
    line-height: 1.46;
    color: hsl(var(--color-neutral-400));
    transition: 300ms ease-in-out;
}

.header__menu-item--nav .header-menu-link:hover {
    opacity: 0.5;
}

.header__menu-item--buttons .button {
    display: none;
}

@media only screen and (min-width: 992px) { 
    .header__logo img {
        width: 100%;
        height: 100%;
    }
    
    .header__hamburger {
        display: none;
    }

    .header__menu-item--nav {
        display: flex;
        gap: 2rem;
    }

    .header__menu-item--buttons .button {
        display: block;
    }
}

.nav-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding-inline: 1.5rem;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.6));
}

.nav-modal[aria-hidden=false] {
    display: block;
} 

.nav-modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 6.5rem;
    max-width: 326px;
    margin-inline: auto 2px;
    padding: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.018125em;
    color: hsl(var(--color-neutral-400));
    background-color: hsl(var(--color-neutral-100));
    border-radius: 0.25rem;
}

.nav-modal__container .nav-modal-link {
    transition: 300ms;
}

.nav-modal__container .nav-modal-link:hover {
    opacity: 0.5;
}

.hero {
    padding-inline: 1.625rem;
    overflow: hidden;
}

.hero__inner {
    position: relative;
}

.hero .pill {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(38%, -27.5%);
    z-index: -1;
}

@media only screen and (max-width: 639px) {
    .hero .pill {
        --dim: 28.625rem;
        width: var(--dim);
        height: var(--dim);
    }
}

@media only screen and (max-width: 991px) {
    .hero .container > *,
    .features .container {
        max-width: 40rem;
        margin-inline: auto;
    }
}

.hero .pill img {
    vertical-align: middle;
    width: 100%;
}

.hero .container {
    padding-block: 6.875rem 5.75rem;
}

.hero .img-container img {
    width: 100%;
    vertical-align: middle;
}

.hero .content-container {
    text-align: center;
}

.hero .text-container {
    margin-bottom: 1.875rem;
    color: hsl(var(--color-neutral-400));
}

.hero .text-container h1 {
    margin-bottom: 0.625rem;
    font-size: 2.5rem;
    line-height: 1.25;
    letter-spacing: -0.0625em;
}

.hero .text-container p {
    font-weight: 300;
    line-height: 1.75rem;
    opacity: 0.5025;
}

@media only screen and (min-width: 992px) {
    .hero .pill {
        transform: translate(20%, -19%);
    }

    .hero .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding-block: 13.75rem 8.25rem;
    }

    .hero .img-container {
        max-width: 36.25rem;    
        margin-right: -1.25rem;
    }

    .hero .content-container {
        flex: 1;
        text-align: left;
    }

    .hero .text-container h1 {
        margin-bottom: 1rem;
        font-size: 3.5rem;
        line-height: 1.14;
    }

    .hero .text-container p {
        margin-bottom: 2.5rem;
        max-width: 21.875rem;
    }
}


.features {
    position: relative;
}

.features::before {
    --dim: 20.25rem;
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: -1;
    width: var(--dim);
    height: var(--dim);
    background-image: url("/src/assets/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right -190px;
}

@media only screen and (min-width: 992px) {
    .features::before {
        --dim: 50.875rem;
        left: -31.5rem;
        bottom: -35.25rem;
        right: unset;
        background-position-x: right 0;
    }
}

.features .text-container {
    margin-bottom: 3.375rem;
    padding-inline: 1.375rem;
    text-align: center;
    color: hsl(var(--color-neutral-400));
}

.features .text-container h2 {
    margin-bottom: 0.75rem;
    padding-inline: 2rem;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: -0.03875em;
    line-height: 1.5;
}

.features .text-container p {
    padding-inline: 1.2rem;
    font-size: 0.875rem;
    line-height: 1.75;
    opacity: 0.5025;
    max-width: 20rem;
}

@media only screen and (max-width: 991px) {
    .features .text-container p {
        margin-inline: auto;
    }
}

.highlight__lists {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 1rem;
}

.highlight__item {
    color: hsl(var(--color-neutral-400));
}

.highlight__item .heading {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: -0.018125em;
    line-height: 1.4375;
    background-color: hsl(var(--color-red-pushpin-100));
    border-radius: 999rem 0 0 999rem;
    overflow: hidden;
}

@media only screen and (min-width: 640px) {
    .highlight__item .heading {
        border-radius: 999rem;
    }
}

.highlight__item .heading h3 {
    padding-block: 0.375rem 0.625rem;
    font-size: 1rem;
}

.bullet-point {
    padding: 0.375rem 1rem 0.625rem;
    width: 4.25rem;
    font-weight: 700;
    text-align: center;
    color: hsl(var(--color-neutral-100));
    background-color: hsl(var(--color-red-pushpin-300));
    border-radius: 999rem;
}

.highlight__item p {
    padding-right: 0.875rem;
    font-size: 0.875rem;
    line-height: 2;
    opacity: 0.5025;
}

@media only screen and (min-width: 992px) {
    .features {
        padding-inline: 1rem;
    }

    .features .container {
        display: flex;
    }

    .features .text-container {
        flex: 1;
        text-align: left;
    }

    .features .text-container,
    .features .text-container h2,
    .features .text-container p {
        padding: 0;
    }

    .features .text-container h2 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.044375em;
        line-height: 1.1;
    }

    .features .text-container p {
        line-height: 1.625;
    }

    .features .highlights-container {
        max-width: 33.75rem;
    }

    .highlight__lists {
        padding: 0;
    }

    .highlight__item .heading {
        gap: 1.75rem;
        background-color: transparent;
    }

    .highlight__item p {
        padding-left: 6rem;
        line-height: 1.625;
    }
}

.testimonials {    
    position: relative; 
    max-width: 96rem;
    margin: 3.875rem auto 2.625rem;
    text-align: center;
}

@media only screen and (min-width: 1536px) {
    .testimonials {    
        mask-image: linear-gradient(to right, transparent 0%, black 15%,black 85%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    } 
}

.testimonials h2 {
    margin-bottom: 3.875rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.04125em;
    line-height: 1.4;
}

.embla {
    padding-top: 2.25rem;
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 1.125rem;
    padding-inline: 1.125rem;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
    padding: 3.75rem 1.375rem 2.625rem;
    background-color: hsl(var(--color-neutral-200));
}

.embla__slide .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.5rem;
}

.embla__slide .avatar img {
    width: 100%;
    vertical-align: middle;
}

.embla__slide .text-container h3 {
    margin-bottom: 1.25rem;
}

.embla__slide .text-container p {
    font-size: 0.875rem;
    line-height: 1.86;
    opacity: 0.5025;
}

@media only screen and (min-width: 640px) {
    .testimonials h2 {
        font-size: 2.5rem;
        letter-spacing: -0.044375em;
        line-height: 1.1;
    }

    .testimonials .text-container p {
        font-size: 1rem;
    }

    .embla {
        margin-bottom: 3rem;
    }

    .embla__container {
        gap: 1.875rem;
        padding-inline: 1.875rem;
    }

    .embla__slide {
        flex: 0 0 calc(100% - 1.875rem);
        padding: 2.5rem;
        padding-top: 3.75rem;
        max-width: 33.75rem;
    }
}

.carousel__bullets {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 1.625rem 3rem;
}

.carousel__bullet {
    --dim: 7px;
    width: var(--dim);
    height: var(--dim);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid hsl(var(--color-red-pushpin-300));
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel__bullet.is-active {
    background-color: hsl(var(--color-red-pushpin-300));
}

.footer {
    color: hsl(var(--color-neutral-100));
    background-color: hsl(var(--color-neutral-500));
}

.footer__banner {
    position: relative;
    text-align: center;
    padding: 5.75rem 2rem;
    background-color: hsl(var(--color-red-pushpin-300));
    z-index: 1;
    overflow: hidden;
}

.footer__banner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(calc(-50% + 3px));
    z-index: -1;
    width: 5.875rem;
    height: 18.875rem;
    background-image: url("/src/assets/bg-simplify-section-mobile.svg");
}

.inner__banner {
    position: relative;
    height: 100%;
}

.footer__banner h2 {
    margin-bottom: 1.875rem;
    font-size: 2.5rem;
    letter-spacing: -0.0625em;
    line-height: 1.25;
}

.footer__banner .mobile-bg,
.footer__banner .desktop-bg {
    position: absolute;
}

.footer__banner .mobile-bg {
    top: 50%;
    left: 0;
    transform: translateY(calc(-50% + 3px));
}

.footer__banner .desktop-bg {
    right: 0;
    bottom: 0;
}

@media only screen and (min-width: 640px) {
    .footer__banner {
        padding-block: 3.875rem;
        text-align: left;
    }

    .footer__banner::before {
        top: unset;
        left: unset;
        right: -18%;
        bottom: 0;
        transform: translateY(0);
        width: 89.9375rem;
        height: 22.5rem;
        background-image: url("/src/assets/bg-simplify-section-desktop.svg");
    }

    .footer__banner .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 0;
    }

    .footer__banner h2 {
        margin: 0;
        max-width: 28rem;
        letter-spacing: -0.044375em;
        line-height: 1.1;
    }
}

.footer .contact-row {
    display: grid;
    padding: 1.875rem 1.5rem;
}

.footer__newsletter {
    margin-block: 1.25rem 3.375rem;
}

.footer__newsletter form {
    display: flex;
    gap: 0.5rem;
}

.footer__newsletter input {
    width: 100%;
    padding: 0.75rem 1.5rem 0.875rem;
    font: inherit;
    font-size: 13px;
    border: none;
    border-radius: 99rem;
}

.footer__newsletter input:focus {
    outline: 2px solid hsl(var(--color-red-pushpin-300));
}

.footer__newsletter button {
    max-width: 5rem; 
    padding: 0.875rem 1.5rem 1.125rem;
}

.footer__newsletter form.error {
    margin-bottom: 0.25rem;
}

.footer__newsletter form.error input {
    outline: 1px solid hsl(var(--color-red-error));
}

.footer__newsletter .error-msg { 
    padding-inline: 1rem;
    font-size: 0.625rem;
    font-style: italic;
    letter-spacing: -0.005em;
    color: hsl(var(--color-red-error));
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
}

.footer__nav .footer-nav-link {
    display: block;
    letter-spacing: -0.014375em;
    transition: color 300ms ease-in-out;
}

.footer__nav .footer-nav-link:hover {
    color: hsl(var(--color-red-pushpin-300));
}

.footer__nav .footer-nav-link:not(:last-child) {
    margin-bottom: 0.75rem;
}

.footer__nav .left {
    margin-left: 1rem;
}

.footer__links {
    margin-block: 3.125rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.375rem;
    padding-inline: 2.5rem;
}

.footer__socials .footer-social-link {
    --dim: 2rem;
    display: block;
    width: var(--dim);
    height: var(--dim);
}

.footer__socials .footer-social-link path {
    transition: fill 300ms ease-in-out;
}

.footer__socials .footer-social-link:hover path {
    fill: hsl(var(--color-red-pushpin-300));
}

.footer__logo {
    margin-inline: auto;
    width: 9.875rem;
}

.footer__logo svg {
    vertical-align: middle;
}

.footer__copyright {
    margin-inline: auto;
    font-size: 0.75rem;
    letter-spacing: -0.0125em;
    opacity: 0.5025;
}

@media only screen and (max-width: 991px) {
    .contact-row {
        max-width: 640px;
        margin-inline: auto;
    }
}

@media only screen and (min-width: 992px) {
    .footer .contact-row {
        grid-template-columns: 2fr 7fr 4fr;
        grid-template-areas: 
            "links nav newsletter"
            "links nav copyright";
        padding-block: 3.875rem;
    }

    .footer__newsletter, .footer__links { 
        margin-block: 0;
    }

    .footer__newsletter {
        grid-area: newsletter;
        margin-left: 0.75rem;
    }

    .footer__nav {
        grid-area: nav;
        gap: 1.875rem;
        margin-left: 7.875rem;
        padding-inline: 0;
    }

    .footer__nav .left {
        margin-left: 0;
    }

    .footer__links {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        grid-area: links;
    }

    .footer__socials {
        margin: 0;
        padding-inline: 0;
    }

    .footer__socials .footer-social-link {
        --dim: 1.25rem;
    }

    .footer__copyright {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: copyright;
        margin-inline: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer .contact-row {
        padding-inline: 0.375rem 0;
    }
}